* {
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content:left ;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #020102; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9316e6, #8c02e8, #270c59, #000000);
    background: linear-gradient(to right, #9316e6, #8100d7, #5c0b92); /*W3C*/;
}

    .react-chatbot-kit-chat-container {
        width: 500px;
}

    .react-chatbot-kit-chat-bot-message {
        margin-left: 15px;
}