*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center ;
    align-items: center ;
    height: 100vh;
    width: 100vw;
    background: #8314c9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7d04b9, #9716e7, #000000);
    background: linear-gradient(to right, #7d04b9, #000000); /*W3C*/;
}

.react-chatbot-kit-chat-container {
    width: 450px;
}

.react-chatbot-kit-chat-bot-messge{
    margin-left: 20px;

}
.AI {
    background-color: #7d04b9;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: left;
    color: #000000;
    border-radius: 100%;
}

.start-btn{
    background-color: #7d04b9;
    color: lightgray;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}